body {
  background-color: rgb(37, 168, 168);
}
.isobun {
  margin: 0px;
  padding: 1px;
  font-family: sans-serif;
  align: center;

  border-color: black;
  border: 12px;
  border-radius: 10px;
  background-color:aqua;
  
}
.isobuntxt {
    display: inline;
}


}
#mainlogo {
    margin-left: auto; 
    margin-right: auto;
    size: 25px;
}
.headers {
    margin-left: auto; 
    margin-right: auto;
    align: center;
    font-family: sans-serif;
}
.links {
    font-family: sans-serif;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 45px;
    height: 20px;
    background-color: blue
    border: 3px;
    border-color: black;
}